[submodule "Bioinformatics with Python/st-speckmol"]
	path = Bioinformatics with Python/st-speckmol
	url = https://github.com/avrabyt/st-speckmol.git
[submodule "Python-Automation/Python-GoogleSheet-YT-Automation"]
	path = Python-Automation/Python-GoogleSheet-YT-Automation
	url = https://github.com/avrabyt/Python-GoogleSheet-YT-Automation.git
[submodule "Machine-Learning for all/Image-Compressor"]
	path = Machine-Learning for all/Image-Compressor
	url = https://github.com/avrabyt/Image-Compressor.git
[submodule "Streamlit-Python/Streamlit-Readme-to-App"]
	path = Streamlit-Python/Streamlit-Readme-to-App
	url = https://github.com/avrabyt/Streamlit-Readme-to-App.git
[submodule "Holiday-coding-session"]
	path = Holiday-coding-session
	url = https://github.com/avrabyt/Holiday-coding-session.git
[submodule "Streamlit-Readme-to-App"]
	path = Streamlit-Readme-to-App
	url = https://github.com/avrabyt/Streamlit-Readme-to-App.git
[submodule "openAI-embeddings-Streamlit"]
	path = openAI-embeddings-Streamlit
	url = https://github.com/avrabyt/openAI-embeddings-Streamlit.git
